<div>
  <%= @player1 %> vs <%= @player2 %></br>

  <%= @player2 %> Hitpoints: <%= @player2_life %></br>
    <label>

    <button type="submit"onclick="return confirm('You opened up a whole can of whoop ass on player 2')">Attack Player 2</button>
  </label>
</div>
